snippets:
  # snippet and keyword abbrev
  - name: git status
    keyword: gs
    snippet: git status --short --branch

  - name: git switch previous
    keyword: gsp
    snippet: git switch -

  - name: git checkout new branch
    keyword: gcb
    snippet: git checkout -b {{branch}}

  - name: git checkout new branch from main
    keyword: gcB
    snippet: git checkout -b {{branch}} main

  - name: git worktree add
    keyword: gw
    snippet: BRANCH={{branch}} && git worktree add ./worktrees/$BRANCH -b $BRANCH main && cd worktrees/$BRANCH

  - name: git worktree cd (fzf)
    keyword: gwm
    snippet: cd $(git worktree list | awk '{print $1}' | fzf --reverse)

  - name: git worktree cd (top)
    keyword: gwt
    snippet: cd $(git worktree list | awk '{print $1}' | awk 'NR==1||length<m{m=length;s=$0}END{print s}')

  - name: git worktree remove
    keyword: gwr
    snippet: git worktree remove

  - name: gcloud auth login
    keyword: gal
    snippet: gcloud auth login --update-adc

  # snippet with placeholder
  - name: git commit message
    keyword: gcim
    snippet: git commit -m '{{commit_message}}'

  - name: "null"
    keyword: "null"
    snippet: ">/dev/null 2>&1"
    # auto expand condition
    # If not defined, it is only valid at the beginning of a line.
    context:
      # buffer: ''
      lbuffer: '.+\s'
      # rbuffer: ''

  - name: branch
    keyword: B
    snippet: git symbolic-ref --short HEAD
    context:
      lbuffer: '^git\s+checkout\s+'
    evaluate: true # eval snippet

completions:
  # simple sourceCommand, no callback
  - name: kill signal
    patterns:
      - "^kill -s $"
    sourceCommand: "kill -l | tr ' ' '\\n'"
    options:
      --prompt: "'Kill Signal> '"

  # use excludePatterns and callback
  - name: kill pid
    patterns:
      - "^kill( .*)? $"
    excludePatterns:
      # -l, -n or -s is followed by SIGNAL instead of PID
      - " -[lns] $"
    sourceCommand: "LANG=C ps -ef | sed 1d"
    options:
      --multi: true
      --prompt: "'Kill Process> '"
    callback: "awk '{print $2}'"

  # Use null (\0) termination Input / Output
  - name: chdir
    patterns:
      - "^cd $"
    sourceCommand: "find . -path '*/.git' -prune -o -maxdepth 5 -type d -print0"
    options:
      # Added --read0 if null termination is used in `sourceCommand` output.
      --read0: true
      --prompt: "'Chdir> '"
      --preview: "cd {} && ls -a | sed '/^[.]*$/d'"
    callback: "cut -z -c 3-"
    callbackZero: true # null termination is used in `callback` I/O
