[[plungins]] # pgugin manager
repo = 'Shougo/dein.vim'
              
[[plugins]]
repo = 'morhetz/gruvbox'

[[plugins]] # color scheme
repo = 'altercation/vim-colors-solarized'

[[plugins]] # color scheme
repo = 'cocopon/iceberg.vim'

[[plugins]] # complete pairs
repo = 'tpope/vim-surround'

[[plugins]] # file system explorer
repo = 'scrooloose/nerdtree'
hook_add = '''
let g:NERDTreeShowBookmarks = 1
let g:NERDTreeShowHidden = 1
'''

[[plugins]] # nerdtree plugin
repo = 'jistr/vim-nerdtree-tabs'

[[plugins]] # nerdtree plugin
repo = 'Xuyuanp/nerdtree-git-plugin'

[[plugins]]
repo = 'ryanoasis/vim-devicons'
hook_add = '''
let g:webdevicons_enable_nerdtree = 1
let g:WebDevIconsNerdTreeAfterGlyphPadding = '  '
let g:WebDevIconsNerdTreeGitPluginForceVAligna = 1
'''

[[plugins]] # git plugin
repo = "airblade/vim-gitgutter"

[[plugins]] #  help to end
repo = 'tpope/vim-endwise'

[[plugins]] # git
repo = 'tpope/vim-fugitive'

[[plugins]] # help to tag end
repo = 'alvan/vim-closetag'
hook_add = '''
let g:closetag_filenames = "*.html,*.xhtml,*.phtml,*.js,*.jsx,*.ts,*.tsx"
'''

[[plugins]] # create my vim cheatsheet
# :Cheat -> show cheatsheet
repo = 'reireias/vim-cheatsheet'
hook_add = '''
let g:cheatsheet#cheat_file = "~/cheatsheet.md"
'''

[[plugins]]
repo = 'junegunn/fzf'
build = './install --all'

[[plugins]]
repo = 'junegunn/fzf.vim'
hook_add = '''
command! -bang -nargs=? -complete=dir Files
  \ call fzf#vim#files(<q-args>, fzf#vim#with_preview({'source': 'rg --files --hidden --glob "!.git"'}), <bang>0)
command! -bang -nargs=* Rg
  \ call fzf#vim#grep(
  \   'rg --column --line-number --no-heading --color=always --smart-case '.shellescape(<q-args>), 1,
  \           fzf#vim#with_preview(), <bang>0)

function! RipgrepFzf(query, fullscreen)
  let command_fmt = 'rg --column --line-number --no-heading --color=always --smart-case -- %s || true'
  let initial_command = printf(command_fmt, shellescape(a:query))
  let reload_command = printf(command_fmt, '{q}')
  let spec = {'options': ['--phony', '--query', a:query, '--bind', 'change:reload:'.reload_command]}
  call fzf#vim#grep(initial_command, 1, fzf#vim#with_preview(spec), a:fullscreen)
endfunction

command! -nargs=* -bang RG call RipgrepFzf(<q-args>, <bang>0)
'''

[[plugins]] # statusline plugin
repo = 'itchyny/lightline.vim'
depends = ['lightline-iceberg', 'denops-skkeleton.vim']
hook_add = '''
set noshowmode
let g:lightline = {
      \ 'colorscheme': 'iceberg',
      \ 'active': {
      \   'left':  [ [ 'nerdtree', 'mode', 'paste' ],
      \              [ 'skk', 'skkMode' ],
      \              [ 'fugitive', 'readonly', 'filename', 'modified' ] ],
      \   'right': [ [ 'syntastic', 'lineinfo' ],
      \              [ 'percent' ],
      \              [ 'fileformat', 'fileencoding', 'filetype' ],
      \            ]
      \ },
      \   'inactive': {
      \     'left': [['nerdtree']],
      \     'right': [[]],
      \   },
      \ 'component_function': {
      \   'nerdtree': 'DescNERDTree',
      \   'lineinfo': 'LightlineLineinfo',
      \   'readonly': 'LightlineReadonly',
      \   'fugitive': 'LightlineFugitive',
      \   'filename': 'LightlineFilename',
      \   'fileformat': 'LightlineFileformat',
      \   'filetype': 'LightlineFiletype',
      \   'fileencoding': 'LightlineFileencoding',
      \   'mode': 'LightlineMode',
      \   'skk': 'SkkEnabled',
      \   'skkMode': 'SkkMode',
      \ },
      \ 'component_visible_condition': {
      \   'lineinfo': '!IsNerdTree',
      \ },
      \ 'separator':    { 'left': "\ue0b0", 'right': "\ue0b2" },
      \ 'subseparator': { 'left': "\ue0b1", 'right': "\ue0b3" }
      \ }

  function! SkkEnabled()
    return exists("g:loaded_skkeleton") && skkeleton#is_enabled() ? 'skk' : ''
  endfunction

  function! SkkMode()
    return exists("g:loaded_skkeleton") && skkeleton#is_enabled() ? skkeleton#mode() : ''
  endfunction

  function! DescNERDTree()
    return IsNerdTree() ? 'NERDTree' : ''
  endfunction

  function! LightlineLineinfo()
    return !IsNerdTree() ? line('.') . ':' . col('.') : ''
  endfunction

  function! IsNerdTree()
    let fname = expand('%:t')
    return fname =~ 'NERD_tree_1'
  endfunction

	function! LightlineModified()
	  return &ft ==# 'help' ? '' : &modified ? '+' : &modifiable ? '' : '-'
	endfunction

	function! LightlineReadonly()
	  return &ft !~? 'help' && &readonly && !IsNerdTree() ? 'RO' : ''
	endfunction

  function! FilePathRelativeToProjectRoot()
    let root = fnamemodify(get(b:, 'git_dir'), ':h')
    let path = expand('%:p')
    if path[:len(root)-1] ==# root
      return path[len(root)+1:]
    endif
    return expand('%')
  endfunction

	function! LightlineFilename()
	  let fname = expand('%:t')
	  return fname ==# 'ControlP' && has_key(g:lightline, 'ctrlp_item') ? g:lightline.ctrlp_item :
	        \ fname =~# '^__Tagbar__\|__Gundo\|NERD_tree' ? '' :
	        \ &ft ==# 'vimfiler' ? vimfiler#get_status_string() :
	        \ &ft ==# 'unite' ? unite#get_status_string() :
	        \ &ft ==# 'vimshell' ? vimshell#get_status_string() :
	        \ (LightlineReadonly() !=# '' ? LightlineReadonly() . ' ' : '') .
	        \ (fname !=# '' ? FilePathRelativeToProjectRoot() : '[No Name]') .
	        \ (LightlineModified() !=# '' ? ' ' . LightlineModified() : '')
	endfunction

	function! LightlineFugitive()
	  try
	    if expand('%:t') !~? 'Tagbar\|Gundo\|NERD' && &ft !~? 'vimfiler' && exists('*FugitiveHead')
	      let mark = ''  " edit here for cool mark
	      let branch = FugitiveHead()
	      return branch !=# '' ? 'î‚ '.branch : ''
	    endif
	  catch
	  endtry
	  return ''
	endfunction

	function! LightlineMode()
	  let fname = expand('%:t')
	  return fname =~# '^__Tagbar__' ? 'Tagbar' :
	        \ fname ==# 'ControlP' ? 'CtrlP' :
	        \ fname ==# '__Gundo__' ? 'Gundo' :
	        \ fname ==# '__Gundo_Preview__' ? 'Gundo Preview' :
	        \ &ft ==# 'unite' ? 'Unite' :
	        \ &ft ==# 'vimfiler' ? 'VimFiler' :
	        \ &ft ==# 'vimshell' ? 'VimShell' :
	        \ winwidth(0) > 60 ? lightline#mode() : ''
	endfunction

  function! LightlineFileformat()
	  return winwidth(0) > 70 ? &fileformat : ''
	endfunction

	function! LightlineFiletype()
	  return winwidth(0) > 70 ? (&filetype !=# '' ? &filetype : 'no ft') : ''
	endfunction

	function! LightlineFileencoding()
	  return winwidth(0) > 70 ? (&fenc !=# '' ? &fenc : &enc) : ''
	endfunction
'''

[[plugins]]
repo = 'tpope/vim-commentary'

[[plugins]]
repo =  'Lokaltog/vim-easymotion'

[[plugins]] # Auto close parentheses
repo = 'mattn/vim-lexiv'

[[plugins]]
repo = 'nvim-treesitter/nvim-treesitter'
if = "has('nvim')"
merged = 0
on_lua = 'nvim-treesitter'
hook_post_source = '''
lua <<EOF
require'nvim-treesitter.configs'.setup {
  highlight = {
    enable = true,
    disable = {}
  }
}
EOF
'''

[[plugins]]
repo = 'vim-denops/denops.vim'
